.containerMenu {
    background-color: rgba(240, 248, 255, 0.692);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.containerMenu ul {
    display: flex;
    align-items: center;
  }
  
  .containerMenu ul img {
    margin-right: 10px; /* opcional: adicione uma margem para separar a imagem dos links */
  }

.containerMenu h2 {
    font-size: 30px;
    background-color: rgb(140, 201, 255);
    border-radius: 10px;
}

.containerMenu ul li{
    font-size: 20px;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  rgba(68, 255, 162, 0.719);
    margin: 5px;
    border-radius: 10px;
    align-items: center;
}

.containerMenu ul :hover{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(189, 224, 255);
}

.containerMenu  ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px
}